<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="pincombe.cordova.ios-s3-security"
        version="1.0.0">
    <name>cordova-ios-s3-security</name>
    <description>Cordova plugin to exclude S3 from App Transport Security (iOS9)</description>
    <license>Apache 2.0</license>
    <keywords>cordova,device,ats,security</keywords>
    <repo>https://github.com/robertklein/cordova-ios-s3-security.git</repo>

    <platform name="ios">
        <config-file target="*-Info.plist" parent="NSAppTransportSecurity">
          <dict>
	    <key>NSExceptionDomains</key>
	    <dict>
              <key>s3.amazonaws.com</key>
	      <dict>
	        <key>NSIncludesSubdomains</key>
	        <true/>
	        <key>NSExceptionRequiresForwardSecrecy</key>
	        <false/>
	      </dict>
	    </dict>
	  </dict>
        </config-file>
    </platform>

</plugin>
